NODE_ENV=development
PORT=3333
HOST=0.0.0.0

POSTGRES_USER=exemplo_de_usuario_para_postgres
POSTGRES_PASSWORD=exemplo_de_senha_para_postgres
POSTGRES_DB=postgres
POSTGRES_PORT=5432
JWT_SECRET=exemplo_de_segredo_para_jwt
HASH_SALT_ROUNDS=12
EMAIL_USER=exemplo@gmail.com
EMAIL_PASS=sua_senha_de_app
CRON_SCHEDULE=exemplodetempo
ENABLE_CRON_JOB=false

DATABASE_URL="postgresql://postgres:123456789@localhost:5432/postgres?schema=public"